.footer{

  margin-top:40px;

  padding:70px 9% 30px;

  background:
  linear-gradient(
  180deg,
  #0b0b0b 0%,
  #111111 100%);

  border-top:1px solid rgba(255,255,255,0.06);
}

.footer-content{

  display:flex;

  justify-content:space-between;

  gap:40px;

  flex-wrap:wrap;

  margin-bottom:40px;
}

.footer-brand h2{

  color:var(--orange);

  font-size:30px;

  margin-bottom:14px;
}

.footer-brand p{

  max-width:420px;

  color:#b5b5b5;

  line-height:1.8;

  font-size:14px;
}

.footer-links{

  display:flex;

  flex-wrap:wrap;

  gap:18px;

  align-items:flex-start;
}

.footer-links a{

  color:#d5d5d5;

  font-size:14px;

  transition:0.3s;
}

.footer-links a:hover{
  color:var(--orange);
}

.footer-bottom{

  padding-top:24px;

  border-top:1px solid rgba(255,255,255,0.06);

  text-align:center;
}

.footer-bottom p{

  color:#8d8d8d;

  font-size:13px;
}

@media(max-width:700px){

  .footer-content{

    flex-direction:column;
  }

  .footer-links{

    gap:14px;
  }
}
