:root{
  --bg:#0d0d0d;
  --card:#161616;
  --primary:#ff7a00;
  --primary-2:#ff9d42;
  --primary-rgb:255,122,0;
  --orange:var(--primary);
  --orange2:var(--primary-2);
  --white:#ffffff;
  --gray:#b5b5b5;
}

body{
  background:var(--bg);
  color:var(--white);
  overflow-x:hidden;
  font-family:'Segoe UI',sans-serif;
}

section{
  padding:65px 5%;
  position:relative;
}

.section-title{
  font-size:32px;
  margin-bottom:14px;
  color:var(--orange);
  position:relative;
  width:max-content;
}

.section-title::after{
  content:'';
  position:absolute;
  left:0;
  bottom:-8px;
  width:60%;
  height:4px;
  background:var(--orange);
  border-radius:20px;
}

.section-subtitle{
  color:var(--gray);
  max-width:650px;
  line-height:1.8;
  margin-bottom:32px;
  font-size:13px;
}

.hidden{
  opacity:0;
  transform:translateY(25px);
  transition:0.7s;
}

.show{
  opacity:1;
  transform:translateY(0);
}
